/* General defintions */

body {
	font-family: georgia, times, serif;
	letter-spacing: 1px;
	text-align: center;
}

a {
	text-decoration: none;
}

/* Menu */

#menu .item {
	text-align: right;
}

/* Message */

#message {
	text-align: left;
}

/* Body */

#body h2 {
	font-size: 32px;
	line-height: 40px;
}

#body input {
	border: 0 none;
}

#body textarea {
	border: 0 none;
}